/* * {
    border: 2px red dashed;
    padding: 5px;
} */

* {
    margin: 0;
    padding: 0; 
}

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    height: 100vh;
}

.navbar,
.header {
    background-color: #1F2937;
}

.logo {
    color: #F9FAF8;
    font-size: 24px;
}

nav ul {
    list-style: none;
    padding-left: 0;
}

nav ul li a {
    text-decoration: none;
    color: #E5E7EB;
    font-size: 18px;
}

h1 {
    color: #F9FAF8;
    font-size: 48px;
    font-weight: 900;
}

.header p {
    color: #E5E7EB;
    font-size: 18px;
}

.header button {
    background-color: #3882F6;
    color: #E5E7EB;
    border-radius: 6px;
    padding: 4px 19px;
    border: none;
}

h2 {
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
}

.section img {
    border: 2px solid #3882F6;
    border-radius: 6px;
}

.quote {
    background-color: #E5E6EB;
}

.quote-text {
    font-size: 36px;
    font-style: italic;
    font-weight: light;
    color: #1F2937;
}

.ad {
    background-color: #3882F6;
}


.ad button {
    background-color: #3882F6;
    color: #E5E7EB;
    border-radius: 6px;
    padding: 4px 19px;
    border: 2px solid #E5E7EB;
}


.footer {
    background-color: #1F2937;
    color: #F9FAF8;
}

/* Flexbox */

body {
    display: flex;
    flex-direction: column;
}

.navbar {
    display: flex;
    align-items: center;
    flex: initial;
}

.navbar ul {
    display: flex;
    gap: 12px;
    margin-left: auto;
}
.header {
    display: flex;
    gap: 25px;
    flex: initial;
}

.section {
    flex: auto;
}

.illustration {
    display: flex;
}

.quote {
    flex: auto;
}

.ad {
    display: flex;
    flex: auto;
    justify-content: center;
    align-items: center;
}

.footer {
    flex: initial;
}

/* ??? */

.container {
    display: flex;
}

.section .container {
    flex-direction: column;
}

.quote .container {
    flex-direction: column;
}